# Python Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.nox/
.coverage
.cache
.pytest_cache/

# Virtual environments
.venv/
env/

# AWS credentials and config
aws_config/
aws_credentials/
boto3_credentials.json

# Cron job logs and temp files
cron_log.txt
cron_error.txt

# Step Functions cache
step_function_cache/

# PyCharm
.idea/
